* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    color: #7E7367;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
}


#main-header {

    width: 100vw;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F8F8F8;
    box-shadow: 0px 1px 2px rgba(126, 115, 103, 0.2);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;

}

#main-header h2 {
    font-weight: normal;
    font-size: 0.875rem;
}

#main-header h1 {
    font-size: 0.85rem;
    font-weight: 500;
}

#main-header a {
    color: #7E7367;
    margin-left: auto;
    text-decoration: none;
}

#app {

    display: grid;

}

#reader-and-preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


#reader {
    background: #F5F5F4;
    display: grid;
    grid-template-rows: 1fr auto;
}

#reader textarea {
    
    background: #F5F5F4;
    color: #7E7367;
    padding: 1rem;
    border: 0;
    outline: 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.875rem;
    resize: none;
}

#warning {

    background: #F2D3BC;
    border: 1px solid #D0834C;
    box-sizing: border-box;
    color: #C26A2C;
    padding: 0.5rem;
    border-radius: 4px;
    margin: 1rem;
    font-size: 0.875rem;
    opacity: 0;

}

#preview {
    background: #F8F8F8;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.roadmap-header {
    margin: 1rem;
}

#roadmap ul {
    list-style: none;
}

#roadmap li {
    padding: 0 1rem;
}

/* JSON Values */

.json-val-number {
    background: #F8F8F8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.25rem;

}

.json-val-string {

    background: #F8F8F8;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.16), inset 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.25rem;

}

.json-val-array {

border: 2px dashed rgba(126, 115, 103, 0.4);
box-sizing: border-box;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
padding: 0.25rem;
margin: 0.25rem;

}

.json-val-null {

    background: #F8F8F8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.25rem;

}

.json-val-boolean-true {
    
    background: #F8F8F8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.25rem;
}

.json-val-boolean-false {
    
    background: #F8F8F8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.25rem;
}

.json-val-boolean-true:before {
    content: "✔";
    margin-right: 1rem;
}
			   
.json-val-boolean-false:before {
    content: "✘";
    margin-right: 1rem;
}

.json-val-object {

    background: #F8F8F8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 1rem;

}

.json-val-object-kv {
    background: #E8E4E1;
    color: #7E7367;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
}

